* {
  background-color: beige;
}
/*style the send button */
.send-button {
  background-color: green;
  color: rgb(214, 24, 24);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
